

body {


  background-image:linear-gradient(to left,rgba(210,20,60,.5),lightblue,rgba(120,10,67,.5));
  background-size:cover;
  display:table;
  width:100%;
  background-repeat:no-repeat;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-color:#fa33079f;
 //background-color:#0779e4;

  
 
}
nav {
height:17px;
width:89px;
display: inline;

}
nav img {
    height: 50px;
    width: 80px;
    padding-bottom: 0px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius:15px;
    background-color: white;
}
nav ul li  {
  text-decoration: none;
  list-style: none;
  float:left;
  position: relative;
  left:100px;
  bottom:72px;
  padding:25px;
 }
 nav li a {
 color:white;
  text-decoration: none;
 }
  nav li a:hover {
    transform: scale(1.2);
    transition: .5s ease;
    color:dodgerblue;
  }
 .search-link {
   border:1px solid;
  border-radius:5px;
  padding:3px 15px 3px 15px;
  background-color: white;
  position: relative;
  bottom:4px;
  right:1px;
  left:5px;
  color:rgb(38, 0, 255);
 }
  .cart {
   text-decoration: none;
   list-style:none;
    //background-color: white;
    font-size:40px;
    height:40em;
    width:70px;
    position: relative;
    bottom:20px;
    left :-15px;
    color : blue;
    //flex-wrap:wrap;
 }
  .bgimage img{
 position: relative;
 bottom:111px;
 width:100%;
 height:100%;
 margin-bottom: 0px;
 
 }

 /*----------------------categories----------------*/

 .categories {
   //background-color:#eee;
   background-image:linear-gradient(to left,wheat,teal,#583d72,rgba(120,10,67,0.5));
   width: 100%; 
   height: 650px;
 }

 .categories .wrapper {
   width:500px;
   height:900px ;
   margin:auto;
   display:flex;
   justify-content: center;
   align-items: center;
   gap:3px;
   flex-direction: column;
   pading:1px;
 }

  .categories .wrapper .categories-container {
    display:flex;
    gap:35px;
    padding: 150px 500px 300px 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    height: 700px;
    width: 600px;

    
 }
.categories .wrapper .categories-container .category{
  position: relative;
  right:18px;
  bottom:100px;
  border-radius:15px;
    height: 150px;
    width: 80px;
    padding: 30px;
    transition:.2s;

}


.categories .wrapper .categories-container .category:hover{
  cursor: pointer;
}
.categories .wrapper .categories-container .category:hover img {
  transform:scale(1.2);
  transition: .1s ease-in;
 // border-color:inset, outset,groove,ridge;
 border:4px inset;


}
/*.categories .wrapper .categories-container .category::before {
 content: "";
  position: absolute;
  top:0;
  left:0;

} */
   

.categories .wrapper .categories-container .category img {
  height:100px;
  width:100px ;
  object-fit: cover;
  border-radius:50px;
  top:0%;
  left:0%;
  right:0%;
  left:0%;
 background-color:darkgray;

}
.categories .wrapper .categories-container .category .category-body{
  position: absolute;
  top:120px;
  left:10px;

  display:flex;
  text-align:center;
 color:peru;
 text-shadow:1px 1px chocolate;
 z-index: 2;
 height:20% ;
 width:100%;
 flex-direction:column;
 font-size:20px;
}


.btn-show-all{
display: block;
padding: 8px 20px;
border-radius:8px;
background-color:rgb(235, 18, 199);
color:white;
text-transform: uppercase;
position: relative;
bottom:400px;
transition:.25s ease;
font-weight: bold;

}


.btn-show-all:hover {
  outline:none;
  border:0;
  background-color:  indianred;
  border:4px groove;
}
.catogery-title {
text-transform:uppercase;
font-size: 2.5rem;
font-weight: bolder;
position: relative;
top:100px;

}

footer{
  background:linear-gradient(to right, chocolate,pink);
  width:100%;
  height:auto;
  float: left;
  text-align: justify;
  justify-content: center;
  position: relative;

}
.foot {
  float: left;
  
}
.foot img {
 margin:20px;
height: 120px;
width: 140px;
position: relative;
left:20px;

}
.foot p{
  color:blanchedalmond;
  height: 115px;
  width:195px;
  margin-left:30px;
  position: relative;
  bottom:20px;
  font-weight:bolder;
}
.foot h3 {
  padding:10px 10px 0 60px; 
  font-size: 2em;
  font-family: 'poppins';
 
}
.foot ul li {
  list-style:none;
  text-align:justify;
  padding:10px 10px 0 30px;
  font-size: 1.25em;
  
  
}
.foot ul li a{
  text-decoration: none;
  font-size: 1em;
  color: rgb(241, 9, 55);
}
.about {
margin: 80px;
  background-color:burlywood;
    height: 700px;
    width: auto;

}
.about-container {
  width:0 auto;
  //margin:40px;
  width:30%;

}
.about-container img{
height:500px;
    width: 600px;
}
.about-container h3 {
  font-size: 2.5em;
  position: relative;
  left:450px;
  text-align: center;
  font-family: 'poppins';
  text-decoration: underline;
}
.about-container h2{

   position: relative;
   left:650px;
   bottom:500px;
   font-family: Garamond;
   color:brown;
    text-decoration: underline;
}
 .about-container p{
      position: relative;
   left:650px;
   bottom:500px;
   font-size: 1.2em;
   font-family: 'poppins';
   color:darkmagenta;
 }



.container {
  width:100%;
  margin-top:-160px;
  font-family: 'sans-serif';
  letter-spacing: 1px;
  height:600px;
  background-color:darkgrey;

}

.container h2 {
  background: #0062cc;
  color:#fff;
  width:200px;
  font-size:24px;
  padding:3px;
  height:32px;
  margin:50px;
  position: relative;
  top:20px;
}
.container h2::after {
  content: '';
  border-top: 39px solid #0062cc;
  border-right:40px solid transparent;
  position: relative;
  left:55px;
  top:36px;
}
.row {
  margin-top:10px;
  margin-left:100px;
}

img {
  width:15%;
  

}

.product-bottom .fa{
color:#a72828;
font-size:10px;
position: relative;
left:40px;
bottom:40px;
}
.product-bottom h3 {
  font-size:20px;
  font-weight:bold;
  position: relative;
  left:20px;
  bottom:40px;
}
.product-bottom h5 {
  font-size:15px;
  padding-bottom:10px;
    position: relative;
  left:30px;
  bottom:60px;

}
.overlay {
  display: block;
  opacity:0;
  position: relative;
  bottom:160px;
  margin-left:0;
  width:40px;
}
.product-top:hover .overlay {
opacity:1;
margin-left:1%;
transition:0.5s;
}
.overlay .fa {
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.664);
  height:20px;
  width:20px;
  font-size:15px;
  padding:1px;
  margin:1px;
  margin-bottom:1px;
}
.col2 {
  position: relative;
  left:300px;
  bottom:510px;

}

.col3 {
  position: relative;
  left:600px;
  bottom:1025px;
}

#pic3 {

height:280px;
}
.col4 {
  position: relative;
  left:900px;
  bottom:1540px;
}

#pic4 {
  height:285px;
}
.view {
  position: relative;
  bottom:1620px;
  left:1100px;
  font-size:1.5em;
}

 #products  h1{
	//text-align:center;
	font-size:35px;
	font-family:'Oi', cursive;
	color:#1B1E56;
	text-decoration:underline;
  position: relative;
  right:550px;
  }
  #products .p1  h2{
	font-size:17px;
	font-family:'Oi', cursive;
	color:#1B1E56;
	width:450px;
	margin-top:12px;
  }
  .innerproducts .p1{
  width:50%;
  height:500px;
  float:left;
  margin-top:10px;
  }
  #products .p1 img{
  width:40%;
  height:200px;
  border-radius:10px;
  border:2px solid blue;
  position:relative;
  }
  .p1  h3{
  font-size:17px;
  font-family:'Oi', cursive;
  color:#00000;
  float:left-side;
  margin-top:20px;
  }
  
  .p1 p{
  font-size:17px;
  font-family:'Oi', cursive;
  color:#00000;
  width:420px;
  }
  .p1 ul li{
  font-size:17px;
  width:480px;
  font-family:'Oi', cursive;
  color:#00000;
  float:left-side;
  }
  .p2 h1{ 
  display:block;
  width:100%;
  }
  .p2 img{
  width:19.5%;
  height:200px;
  border:1px solid blue;
  }
  .btn1{
  padding: 10px 30px;
  color: #000000;
  font-size: 15px;
  font-family:'Oi', cursive;
  background-color:#6D7B8D ;
  border: #000000;
  border-radius: 20px;
  transition: .3s ease;
  transition-property: background-color, color, border;
  margin-left:35px;
}
#contact .form .table #table{
}
.contact_form{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#cart  h1{
	text-align:center;
	font-size:35px;
	font-family:'Oi', cursive;
	color:#1B1E56;
	text-decoration:underline;
  }
  #cart  h2{
	font-size:17px;
	font-family:'Oi', cursive;
	color:#1B1E56;
  }



.demo{
  background-color:rgba(34, 40, 49, 1);
  font-family:tahoma;
   height: 2560px;


}
.testimonial {
  background: white;
  text-align: center;
  padding: 10px 10px 20px;
  margin:0 400px 250px 400px;
  position: relative;
  margin-top:5px;
}

.testimonial:before, .testimonial:after {
  content:"";
  border-top:40px solid white;
  border-right:125px solid transparent;
  position: absolute;
  bottom:-40px;
  left:0;
}
.owl-carousel{
  padding-top:70px;
} 

.testimonial:after{
  border-right:none;
  border-left: 125px solid transparent;
  left: auto;
  right:0;
}

.testimonial .icon{
  display: inline-block;
  font-size: 80px;
  color:rgb(5, 23, 51);
  margin-bottom:20px;
  opacity:0.6;

}

.testimonial .description{
  font-size:16px;
  color: #777;
  text-align:justify;
  margin-bottom:30px;
  opacity:0.9;
  letter-spacing:-1px;
}

.testimonial .testimonial-content {
  width:100%;
  position: absolute;
  left:0;
}

.testimonial .pic {
  display: inline-block;
  border: 1px solid rgb(116, 8, 240);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #f4770b;
  overflow: hidden;
  z-index:1;
  position: relative;


}

.testimonial .pic img {
  width:100%;
  height:auto;
}

.testimonial .title {
  font-size:15px;
  font-weight:bold;
  color:white;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}

.testimonial .post {
  display: block;
  font-size:14px;
  color:#ffd9b8;
}

.pic img{
  width:100px; !important;
  height:50px;
}

@media screen and (max-width:425px) {
  
}

* {
  //padding:0;
  //margin:0;
  box-sizing: border-box;
}